.q-slydar {
  width: 100%;
  position: relative;
  visibility: visible !important;
  &__container {
      position: relative;
      overflow: hidden;
      width: 100%;
  }
  &__track {
      position: absolute;
      top: 0;
      height: 100%;
  }
  &__slide {
      position: absolute;
  }
  &__arrow {
      position: absolute;
      top: 50%;
      &--prev {
          left: 0;
      }
      &--next {
          right: 0;
      }
  }
  &__pagination {
      li {
          button {
              transition: all ease-in-out .3s;
          }
          &.active {
              button {
                  background-color: black;
                  color: white;
                  transition: all ease-in-out .3s;
              }
          }
      }
  }
}
